.difficulty{
    padding: 10px;
    padding-top: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    p{
        font-size: 1.8em;
        font-weight: bolder;
    }
}
.difficulty-selected{
    border: 3px dotted $light-grey;
}
#easy p{
    color: $goethe-green;
}
#medium p{
    color: $medium;
}
#hard p{
    color: $hard;
}