button{
    border: 3px dotted $light-grey;
    border-radius: 0px;
    font-family: RobotoRegular;
    font-size: 2em;
    background: rgba(white, 0.5);
    transition: all 0.5s;
}
button:hover, .btn:focus, .btn:active, .btn.active {
    background: white;
}
button:active, .btn.active {
    background: rgba(white, 0.5);
    box-shadow: none;
}

.btn-lg{
    padding-right: 40px;
    padding-left: 40px;
    font-size: 2.5em;
}
.btn-sm{
    font-size: 1em;
    border: 2px dotted $light-grey;
}

.btn-green{
    color: $goethe-green;
}
.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active {
    color: white;
    border: 3px dotted white;
    background: $goethe-green;
    box-shadow: none;
}

.btn-confirm{
    background: $goethe-green;
    border: 3px dotted white;
    color: white;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.4em;
    transition: all 0.1s;
}
.btn-confirm:active, .btn-confirm.active {
    background: lighten($goethe-green, 10);
    color: white;
    box-shadow: none;
}
.btn-confirm:hover, .btn:focus, .btn-confirm:active, .btn-confirm.active {
    background: lighten($goethe-green, 1);
    border: 3px solid white;
    color: white;
    box-shadow: none;
}

.go-button:hover, .go-button:focus, .go-button:active, .go-button.active {
    background: $goethe-green;
    border: none;
    color: white;
    transform: translateY(2px);
    box-shadow: 5px 7px 2px $dark-grey, white 0px 1px 5px inset;
}


.go-button{
    position: fixed;
    bottom: 50px;
    right: 50px;
    border: none;
    background: $goethe-green;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
    box-shadow: 5px 7px 15px $dark-grey, white 0px 1px 5px inset;
    h1{
        color: white;
        font-size: 2em;
    }
}

.repeat{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
    box-shadow: 2px 5px 10px $light-grey, lighten($light-grey, 10) 0px 1px 5px inset;
    font-size: 1em;
    img{
        width: 20px;
    }
    img, p {
      transform: translateY(8px);
    }
}

.repeat-active{
  transform: translateY(2px);
  box-shadow:1px 3px 2px $dark-grey, lighten($light-grey, 10) 0px 1px 5px inset;
}

#reset{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5px;
    left: 5px;
    background: white;
    border: none;
    border-radius: 20px;
    height: 40px;
    padding: 0 15px;
    box-shadow: 2px 5px 10px $light-grey, lighten($light-grey, 10) 0px 1px 5px inset;
    img{
        width: 20px;
    }
    p{
        color: $light-grey;
        transform: translateY(8px);
        margin-left: 10px;
        margin-right: 5px;
        font-size: 0.5em;
    }
}
#reset:hover, #reset:focus, #reset:active, #reset.active {
    transform: translateY(2px);
    box-shadow:1px 3px 2px $dark-grey, lighten($light-grey, 10) 0px 1px 5px inset;
}


.round-next-button:hover, .round-next-button:focus, .round-next-button:active, .round-next-button.active {
    background: $light-grey;
    border: none;
    color: white;
    transform: translateY(2px);
    box-shadow: 5px 7px 2px $dark-grey, white 0px 1px 5px inset;
}

.round-next-button{
    border: none;
    margin-top: 50px;
    background: $light-grey;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
    box-shadow: 5px 7px 10px $dark-grey, white 0px 1px 5px inset;
    h1{
        color: white;
        font-size: 1.8em;
        transform: translateY(10px);
    }
}

.result-button{
    background: $light-grey;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-flex;
    margin: 0 10px;
    justify-content: center;
    padding: 10px;
    align-items: center;
    transition: all 0.1s;
    box-shadow: 5px 7px 15px $dark-grey, white 0px 1px 5px inset;
    h1{
        transform: translateY(5px);
    }
}

.result-button.green{
    background: $goethe-green;
}

.skip-audio-div{
    position: fixed;
    display: inline;
    text-align: right;
    bottom: 8px;
    right: 5px;
    max-width: 50%;
}
#skip-audio{
    border: none;
    border-radius: 15px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
    box-shadow: 2px 5px 10px $light-grey, lighten($light-grey, 10) 0px 1px 5px inset;
    font-size: 1em;
    height: 40px;
     p {
      transform: translateY(8px);
      color: $light-grey;
    }
}

#skip-audio:hover, #skip-audio:focus, #skip-audio:active, #skip-audio.active{
    transform: translateY(2px);
    box-shadow:1px 3px 2px $dark-grey, lighten($light-grey, 10) 0px 1px 5px inset;
  }