.placeholder{
    height: 1.5em;
    width: 100px;
    display: inline-flex;
    justify-content: between;
    background: $goethe-green;
    color: white;
    opacity: 1;
    padding: 0 10px;
    border-radius: 5px;
    font-family: GiveYouGlory;
}
#playBtnDiv.animate__bounceOut{
    --animate-duration: 0.5s;
}