.loader {
    padding: 40px;
    width: calc(30 * 10px + 40px);
    height: calc(100px + 40px);
    position: relative;

  }
  
  .loader span {
    display: block;
    bottom: 50%;
    width: 9px;
    height: 5px;
    background: $light-grey;
    position: absolute;
  }
  .playing{
    animation: soundBar 3s infinite ease-in-out;
  }
  
  $elements: 30;
  @for $i from 0 to $elements{
      span:nth-child(#{$i + 1}){
          left: ( 20px + 10px * $i);
          animation-delay: (0.1s * $i);
      }
  }
  
  
  @keyframes soundBar {
      0%, 30%, 80% {height: 5px; background:$light-grey; transform: translateY(0)}
      10%, 50%, 90% {height: 100px; background:$goethe-green; transform: translateY(47.5px)}
      20%, 70%, 100% {height: 5px; background: $light-grey; transform: translateY(0)}
  }
.progressBar{
  width: calc(30 * 10px + 40px);
  margin-top: 30px;
  height: 15px;
  background: rgb(242, 242, 242);
  box-shadow: 2px 5px 10px $light-grey, lighten($light-grey, 10) 0px 1px 5px inset;
  border-radius: 7px;
  position: relative;
}
.progression{
  width: 0%;
  height: 100%;
  background: $goethe-green;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 7px;
  box-shadow: lighten(white, 10) 0px 1px 5px inset;
}
 
